:root {
    --header-color: rgb(43, 43, 43);
    --background-color: rgb(88, 88, 88);
    --card-container-color: rgb(65, 64, 64);
    --card-color: rgb(223, 230, 233);
    --title-color: rgb(223, 230, 233);
}